.post-list {
  margin: 0;
  padding: 0;

  div {
    background-position: center;
    background-size: cover;
    position: relative;
  }

  a {
    display: block;
    padding: 5% 10%;
    position: relative;

    span {
      text-transform: uppercase;
    }

    h2 {
      margin: 0;
    }

    span,
    h2 {
      color: #fff;
      position: relative;
      z-index: 2;
    }

    &:before {
      background-color: rgba(0, 0, 0, 0.4);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &:hover,
    &:focus {
      font-weight: normal;

      &:before {
        opacity: 0.5;
      }
    }
  }
}
