.hentry {
  background-color: #fff;
  padding-top: 7.6923%;
  position: relative;

  &.has-post-thumbnail {
    padding-top: 0;
  }

  @media screen and (min-width: $three) {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    margin: 0 7.6923%;
  }
}

.hentry + .hentry {
  border-top: 1px solid rgba(51, 51, 51, 0.1);

  @media screen and (min-width: $three) {
    border-top: 0;
    margin-top: 7.6923%;
  }

  @media screen and (min-width: $six) {
    margin-top: 8.3333%;
  }
}

.post-thumbnail {
  margin-bottom: 2.4em;
}

a.post-thumbnail {
  background-position: center;
  background-size: cover;
  display: block;
  height: 145px;

  &:hover {
    opacity: 0.85;
  }
}

.entry-header {
  padding: 0 7.6923%;

  @media screen and (min-width: $three) {
    padding: 0 10%;
  }
}

.entry-title {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.2;
  margin-bottom: 1.1em;

  @media screen and (min-width: $four) {
    font-size: 35px;
    font-size: 3.5rem;
  }

  @media screen and (min-width: $five) {
    font-size: 39px;
    font-size: 3.9rem;
  }

  @media screen and (min-width: $six) {
    font-size: 31px;
    font-size: 3.1rem;
  }
}

.entry-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 0 7.6923% 7.6923%;
  word-wrap: break-word;

  @media screen and (min-width: $three) {
    padding: 0 10% 10%;
  }
}

.entry-footer {
  background-color: #f7f7f7;
  bottom: auto;
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  float: none;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 3.8461% 7.6923%;
  position: relative;
  width: auto;

  .author {
    margin: 0;
  }

  .date,
  .byline,
  .cat-links {
    margin-right: 1em;
  }

  @media screen and (min-width: $three) {
    padding: 4.5454% 9.0909%;
  }

  @media screen and (min-width: $four) {
    font-size: 14px;
    font-size: 1.4rem;
  }

  @media screen and (min-width: $five) {
    font-size: 16px;
    font-size: 1.6rem;
  }

  @media screen and (min-width: $six) {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 5% 10%;
  }
}

.post {
  .post-thumbnail {
    height: auto;
  }
}
