.site-footer {
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  bottom: auto;
  padding: 3.84615% 7.6923%;
  position: relative;

  @media screen and (min-width: $three) {
    border-top: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    margin: 0 7.6923%;
    padding: 3.84615% 7.6923%;
  }

  @media screen and (min-width: $six) {
    float: left;
    margin: 0 0 0 35.2941%;
    padding: 0;
    width: 58.8235%;
  }
}

.site-info {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;

  a {
    border-bottom: 1px solid transparent;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);

    &:hover {
      border-bottom: 1px solid #333;
      color: #333;
    }
  }

  @media screen and (min-width: $four) {
    font-size: 14px;
    font-size: 1.4rem;
  }

  @media screen and (min-width: $five) {
    font-size: 16px;
    font-size: 1.6rem;
  }

  @media screen and (min-width: $six) {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 5% 10%;
  }

  @media screen and (min-width: $seven) {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
