.pagination {
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);

  .nav-links {
    min-height: 3.2em;
    position: relative;
    text-align: center;
  }

  .page-number {
    line-height: 3.2em;
    padding: 0.08em;
  }

  .prev,
  .next {
    background-color: #333;
    color: #fff;
    height: 48px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 48px;

    &:hover {
      background-color: #707070;
      background-color: rgba(51, 51, 51, 0.7);
    }

    &:before {
      display: inline-block;
      font-size: 20px;
      font-size: 2rem;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

@media screen and (min-width: $three) {
  .pagination {
    border-top: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    margin: 7.6923% 7.6923% 0;
    padding: 0;
  }
}
