---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article class="hentry post{% if page.image %} has-post-thumbnail{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.image %}
    <div class="post-thumbnail">
      <img src="{{ site.post-thumbnails }}{{ page.image }}">
    </div>
  {% endif %}

  <header class="entry-header">
    <h1 class="entry-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="entry-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="entry-footer">
    <p class="author">
      <span class="date">
        <span class="icon-calendar"></span>
        <time class="date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
      </span>
      <span class="byline">
        <span class="icon-user"></span>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></span>
      </span>
      <span class="cat-links">
        <span class="icon-folder-open"></span>
        {{ page.categories | join: ", " }}
      </span>
  </footer>

</article>

  <div class="post-list">
    {% if page.previous.url %}
      <div style="background-image: url({{ site.post-thumbnails }}{{ page.previous.image }});">
        <a class="post-link" href="{{ page.previous.url }}">
          <span class="post-meta">Previous</span>
          <h2>
            {{ page.previous.title }}
          </h2>
        </a>
      </div>
    {% endif %}
    {% if page.next.url %}
    <div style="background-image: url({{ site.post-thumbnails }}{{ page.next.image }});">
      <a class="post-link" href="{{ page.next.url }}">
        <span class="post-meta">Next</span>
        <h2>
          {{ page.next.title }}
        </h2>
      </a>
    </div>
  {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
